= javascript_include_tag "welcome"
= javascript_include_tag "sign_up_forms"

#welcome
  .first.section{align: "center"}
    .container

      %h1 An easy, fun solution for managing your art and collectibles.

  .second.section{align: "center"}
    .container
      %h1 Document the provenance for each unique piece over a lifetime.

  .third.section{align: "center"}
    .container
      %h1 Easily export and share with others.

  .section
    .welcome-login
      .content
        .outter-form
          .form-header
            .circle-outter
              .circle-inner
                .circle-inner-inner
          .inner-form
            %h5.login-title
              Get Started Absoluteley
              %span
                FREE
            %p.small no credit card needed

            = form_for(@user, html: {id: 'welcome-page-sign-up'}) do |f|
              = render 'shared/error_messages'

              %input(style="display:none;" type="text" name="somefakename")
              %input(style="display:none;" type="password" name="anotherfakename")

              .field.name
                = f.label 'Name', class: 'name'
                = f.text_field :name, autocomplete: 'off', class: 'name'
                .error.name

              .field.email
                = f.label 'Email', class: 'email'
                = f.email_field :email, class: 'email'
                .error.email

              .field.password
                = f.label 'Create Password', class: 'password'
                = f.password_field :password, class: 'password'
                .error.password

              .field.submit
                = f.submit "sign up free", class: 'submit pink-button'
                %p.small-text
                  By clicking "Sign Up Free" I agree to Provenance's
                  %a{href: "#"}
                    Terms of Service

      .login-link
        %p.small-text
          Already have an account?
          %a{href: login_path} Login!
  -#
  -#
  -#.forth.section{align: "center"}
  -#  .container
  -#    %h1 Easily export and share with others.


  -#.forth.section{align: "center"}
  -#  .container
  -#    %h1 Connect with collectors and invite your friends and family to participate.
  -#
  -#.fifth.section{align: "center"}
  -#  .container
  -#    %h1 Try it for free!