= javascript_include_tag "welcome"
= javascript_include_tag "sign_up_forms"

= stylesheet_link_tag "pages/welcome"

#welcome
  .first.section{align: "center"}
    .video-overlay
    .video-div
      %iframe(src="https://player.vimeo.com/video/152856659?controls=0&autoplay=1&loop=1&portrait=0&badge=0&byline=0&autopause=0&title=0" frameborder="0" allowfullscreen width="100%" height="800px")

    .container
      %h1 Art management. Made easy. Free.
      %h2.static For collectors and artists. Buy, sell, manage, and share art.
      %a{href: "#sign-up", class: 'button-red static anchorLink'} Try it for free

  .section#sign-up
    .welcome-login
      .white-square-content
        .outter
          .inner
            %h5.title
              Get Started Absoluteley
              %span
                FREE

            = form_for(@user, html: {id: 'welcome-page-sign-up'}) do |f|
              = render 'shared/error_messages'

              %input(style="display:none;" type="text" name="somefakename")
              %input(style="display:none;" type="password" name="anotherfakename")

              .field.email
                = f.label 'Email', class: 'email'
                = f.email_field :email, class: 'email'
                .error.email

              .field.password
                = f.label 'Create Password', class: 'password'
                = f.password_field :password, class: 'password'
                .error.password

              .field.submit
                = f.submit "sign up free", class: 'submit-button button-red'

                .welcome-login-link
                  %p.small-text
                    Already have an account?
                    %a{href: login_path} Login!
