= javascript_include_tag "welcome"
= javascript_include_tag "sign_up_forms"

#welcome
  .first.section{align: "center"}
    .container

      %h1 Organize your art collection and provenance.
      %button.pink-outline-button.static
        %a{href: "#sign-up", class: 'anchorLink'} Try it for free

  .second.section{align: "center"}
    .container
      %h2 Collaborate with collectors and artists.

  .third.section{align: "center"}
    .container
      %h2 Share your collection and documents.

  .forth.section{align: "center"}
    .container
      %h2 Freaking Easy.  Fun.  Free.


  .section#sign-up
    .welcome-login
      .white-square-content
        .outter
          .inner
            %h5.title
              Get Started Absoluteley
              %span
                FREE

            = form_for(@user, html: {id: 'welcome-page-sign-up'}) do |f|
              = render 'shared/error_messages'

              %input(style="display:none;" type="text" name="somefakename")
              %input(style="display:none;" type="password" name="anotherfakename")

              .field.email
                = f.label 'Email', class: 'email'
                = f.email_field :email, class: 'email'
                .error.email

              .field.password
                = f.label 'Create Password', class: 'password'
                = f.password_field :password, class: 'password'
                .error.password

              .field.submit
                = f.submit "sign up free", class: 'submit pink-button'

                .welcome-login-link
                  %p.small-text
                    Already have an account?
                    %a{href: login_path} Login!
