<!DOCTYPE html>
<html>
<head>
  <title>Provenance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="modal-overlay">
</div>

<%= render 'layouts/header' %>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div id="site-content">
<%= yield %>
</div>

  <!--<#%= render 'layouts/footer' %>-->
  <%#= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
